*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{
font-family:"tajawal" , sans-serif;
background-color:white;
}
nav{
display:flex;
justify-content:space-between;
align-items:center;
max-width: 1455px;
height: 10vh;
margin:  0 auto;
padding: 0 6rem;
color: rgb(40, 117, 152);
background-color:rgb(193, 223, 236);
}
nav.logo i{
    color:rgb(4, 30, 33);
    padding-left:01,90rem;
}
nav .bars-3{
    display: none;
}ٍ
nav.logo{
    display: flex;
font-style: 3rem ;
align-items: center;

}
nav .logo h4
{
    padding-right: 5px;
    display: inline;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}
nav .nav-items{
display:flex;
list-style-type: none;

}
nav.nav-items.nav-item {
padding:1rem 2rem;
}
nav .nav-link{
text-decoration:none;
color: rgb(21, 85, 104);
font-size: 1.2rem;
padding:0 2rem;
}
nav .nav-link:hover{
color: rgb(57, 161, 166);
}
.hero{
background-color: #fdfdfd;
}
.hero-section{
    max-width: 1366px;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    margin: 0 auto;
    padding: 0 5rem;
}
.hero-section .contant{
    display: flex;
   flex-direction: column;
}
.hero-section h4{
color: rgb(31, 122, 178);
font-size: 1.6rem;
margin-bottom: 1rem;

}
.hero-section .contant h1{
    font-size: 2.6em;
    margin-bottom: 1rem;
}
.hero-section p{
color: rgba(0, 0, 0, 0.759);
font-size:1.4rem ;
}
.hero-section p span{
color:rgb(31, 122, 178);
}
.hero-section .hero-image{
    margin-bottom: 80px;

}
.btn{
width: 12rem;
margin-top: 3rem;
border-radius: 0.5rem;
outline:none;
border: none;
padding: 0.75rem  1.5rem;
background-color: rgba(26, 135, 178, 0.719);

}
.btn:hover{
background-color: rgb(18, 143, 220);
cursor: pointer;
}
.btn a{
text-decoration:none;
color: white;
font-size: 1.4rem;
}
<!--FEATURES SECTION-->
section.features{
padding: 20rem 0;
background-color: rgb(233, 234, 234);
}
section.features .features-section{
max-width:1366px;
margin: 0 auto;
padding: 0 5rem;
display:flex;
flex-direction:column;
justify-content:center;
background-color:white;
}
.features-section h4{
color: rgb(31, 122, 178);
font-size: 1.6rem;
margin-bottom: 2rem;
margin-right: 2rem;
}
.features-section .qualities{
display: flex;
justify-content: space-between;
}
.features-section .qualities .quality{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(187, 232, 255);
    padding: 2rem;
    max-width: 17rem;
    border-radius: 1rem;
    margin: 1rem;

}
.features-section .qualities .quality:hover{
border: 2px solid rgb(25, 136, 205);
}
.qualities .quality i{
font-size: 2rem;
color: rgb(17, 86, 204);
margin-bottom: 1rem;
}
.qualities .quality h3{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.qualities.quality p{
font-size:1.2rem;
text-align:center;
color: rgba(102, 171, 200, 0.846);
}
/*PHONES SECTION*/
.newest-phones{
padding: 5rem;
background-color:white;
}
.phones p{
    display: none;
}
.newest-phones .phones-section{
max-width: 1366px;
margin: 0 auto;
padding: 0 2rem;
display:flex;
flex-direction: column;
}
.phones-section h4{
color: rgb(31, 122, 178);
font-size: 1.5rem;
margin-bottom: 2rem;
margin-right: 4rem;
}
.phones-section .phones {
display:grid;
grid-template-columns: 1fr 1fr 1fr;
justify-content: flex-start;
}
.phones .phone{
margin: 3rem 0;
max-width:300px;
display:flex;
flex-direction:column;
align-items:center;
}
.phones img{
margin-right: 4rem;

}
.phones img:hover{
scale: 1.1;
cursor: pointer;

}

.phones h3{
    font-size:0.9rem;
    unicode-bidi:normal;
    margin-inline-start: 70px;
    padding: 10px 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.products-preview{
    position: fixed;
    top:0; left:0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
 }
 

.products-preview .preview{
   display: none;
   padding:2rem;
   text-align: center;
   background: #fff;
   position: relative;
   margin:2rem;
   width: 40rem;
}


.products-preview .preview.active{
    display: inline-block;
 }
 
 .products-preview .preview img{
    height: 30rem;
 }
 
 .products-preview .preview .fa-times{
    position: absolute;
    top:1rem; right:1.5rem;
    cursor: pointer;
    color:#444;
    font-size: 4rem;
 }
 
 .products-preview .preview .fa-times:hover{
    transform: rotate(90deg);
 }
 
 .products-preview .preview h3{
    color:#444;
    padding:.5rem 0;
    font-size: 2.5rem;
 }



.phones-section button{
width: 20rem;
margin-bottom: 1rem;
align-self:center;
}
/*footer secation*/
footer{
background-color: rgb(157, 194, 210);
height: 15vh;
margin-top:4rem;
padding: 2rem 0;
}
.footer-section{
display:flex;
flex-direction:column;
align-items: center;
max-width: 1366px;
margin:0  auto;
padding: 0 5rem;
}
.footer-section p{
font-size: 1.1rem;
margin-bottom: 0.4rem;
}
.footer-section .socials{
margin-bottom: 1rem;
}
.footer-section .socials i{
padding: 0 0.6rem;
font-size: 1.4rem;
}
.footer-section .socials i:hover{
color: rgb(26, 255, 255);
cursor: pointer;
}

/*responsive design*/
@media (max-width:1000px){
    *{
      text-align: center;
    }
    .hero-image{
        display: none;
    }
    .hero-section{
        align-items: center;
        padding: 2rem 0;
        width: 20%;
    }
    .hero .btn{
        align-self: center;
    }
    .features-section .qualities{
        flex-wrap: wrap;
        justify-content: center;
    }
    .features .features-section{
        align-items: center;
    }
    .hero-section{
        height: 66vh;
    }
}
@media (max-width:660px){
    .hero-section .contant h1{
        font-size: 80%;
    }
    .phones-section{
        align-items: center;
    }
    .phones-section .phones{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:500px){
    .phones-section .phones{
        grid-template-columns: 1fr;
    }
    
    nav {
        position: sticky;
        top: 0;
        width: 100%;
      }
      nav .bars-3 {
        display: block;
        font-size: 3rem;
      }
    nav .nav-items{
    position: absolute;
    left: 0;
    top: 10vh;
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgb(21, 85, 104);
    padding: 2rem 0;
    }
    nav .nav-items.active{
        display: flex;
    }
    nav .nav-items .nav-item{
        margin: 1rem 0;
    }
    nav .nav-items .nav-item a{
        color: #fdfdfd;
    }
}


    
